[Unit]
Description=Start java application
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Environment=SV_PORT={{ app_port }}
ExecStart=/usr/bin/java -jar {{ app_dir }}/{{ app_file }} --server.port=${SV_PORT}
Restart=always
RestartSec=10
User={{ app_user }}
